{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} About Us{% endblock %}</title>
    </head>
    <body>
   
        {% block pagecontent %}
            <div class="cover" style="background-color: #E87121">
                <div class="cover-content">
                    <h1 style="z-index: 4">
                        Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
                    </h1>
                </div>
            </div>
            
        {% endblock %}

    </body>
</html>
