{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Contact Us{% endblock %}</title>
    </head>
    <body>
   
        {% block pagecontent %}
            <div class="cover" style="background-color: #E87121">
                <div class="cover-content">
                    <h1 style="z-index: 4">
                        Contact Us
                    </h1>
                    <p style="z-index: 4; color: #fff">
                        Phone: 555-555-5555<br />
                        Address: 123 Lane Street. State, US.
                    </p>
                </div>
            </div>
       
            
        {% endblock %}

    </body>
</html>
